
#Reviews {

	position: absolute ;
	width: 	  500px    ;
	height:   2350px   ; 			
	top: 	  32px  ;
	left:	  491px    ;

}


#Reviews li {

	list-style-type: none ;

}


.cambiaElementoLista {

	width:  500px ;
	height: 51px  ; 

}


.Recensione {

	position: 			relative ;
	width: 				504px    ;
	height: 			100px    ;
	left: 				-40px    ;
	top:				0px      ;
	background-color: 	rgba(0,0,0,0.6) ;	

}


.SeparatoreRecensioni {

	position: 	 	  absolute ;
	width: 			  504px	   ;
	height: 		  1px 	   ;
	top:			  100px    ;
	background-color: #B5B5B5  ;
	z-index:  1 ;

}


.ImgRece {

	position: 		relative ;
	width: 	 		85px     ;
	height:  		85px     ;
	left:    		8px	     ;
	top:            7px 	 ;	
	border:			0px 	 ;
	border-style: 	solid 	 ;
	border-color: 	#B5B5B5  ;
	border-radius: 	10px 	 ;
	box-shadow: 	rgba(0,0,0,0.3) 1px 1px 0px 1px ;

}


.TitoloRece {

	position:	relative ;
	top: 		-100px   ;
	left:		100px    ;
	width: 		395px    ;
	height: 	60px     ;	

}


.DescrizioneRece {

	position: 			 relative ;
	top:		 		 10px     ; 
	left: 				 10px     ;
	font-family:    	 serif, sans-serif ;
	font-size: 			 18px     ;
	font-weight: 		 700      ;
	color: 				 #B5B5B5  ;
	transition: 		 color 500ms ease ;
	-moz-transition: 	 color 500ms ease ; 
  	-o-transition: 		 color 500ms ease ; 
  	-webkit-transition:  color 500ms ease ;
}


.DescrizioneRece:hover {

	color: #551A8B  ;
	cursor: pointer ;

}


.PubblicazioneRece {

	position:		absolute ;
	top: 			55px     ;
	left:			105px    ;
	font-family:    serif, sans-serif ;
	font-size: 		17px     ;
	font-weight: 	100      ;
	color: 			#B5B5B5  ;

}


.InformazioniOnHover {

	position: 			relative ;
	width: 	 			85px     ;
	height:  			85px     ;
	left:    			8px      ;
	top:            	-175px   ;	
	border:				0px      ;
	border-style: 		solid    ;
	border-color: 		#B5B5B5  ;
	border-radius: 		10px     ;
	box-shadow: 		rgba(0,0,0,0.3) 1px 1px 0px 1px ;
	transition: 		all 300ms ease ;
	-moz-transition: 	all 300ms ease ; 
  	-o-transition: 		all 300ms ease ; 
  	-webkit-transition: all 300ms ease ;

}


.InformazioniOnHover:hover {

	background-color:   rgba(0,0,0,0.8) ;
	cursor: 			default ;
	 
}


.Genere {

	text-align: 		center  ;
	width: 	 			85px    ;
	height:  			40px    ;
	border-radius: 		2px     ;
	font-family:        serif, sans-serif ;
	font-size: 		    15px    ;
	font-weight: 	    500     ;
	color: 			    #B5B5B5 ;

}


.Voto {

	position: 			relative ;
	top: 				-30px    ;
	text-align: 		center   ;
	width: 	 			85px     ;
	height:  			30px     ;
	border-radius: 		2px      ;
	font-family:        serif, sans-serif ;
	font-size: 		    30px     ;
	font-weight: 	    500      ;
	color: 			    #B5B5B5  ;

}


#SezioneRispolverati {

	position: 		relative ;
	width: 	  		502px 	 ;
	height:   		50px     ;
	left:		    -40px    ;
	border: 		1px      ;
	border-style: 	solid 	 ;
	border-color: 	black 	 ;	
   	box-shadow: 	rgba(0,0,0,1) 1px 1px 1px 1px inset ;
   	z-index:		3 ;

}


#SezioneExtraMetal {

	position: 		relative ;
	width: 	  		502px    ;
	height:   		48px     ;
	left:		    -40px    ;
	border: 		1px      ;
	border-style: 	solid    ;
	border-color: 	black    ;	
   	box-shadow: 	rgba(0,0,0,1) 1px 1px 1px 1px inset ;

}


#SezioneDemo {

	position: 		relative ;
	width: 	  		502px    ;
	height:   		50px 	 ;
	left:		    -40px    ;
	top:			-1px 	 ;
	border: 		1px 	 ;
	border-style: 	solid 	 ;
	border-color: 	black 	 ;	
   	box-shadow: 	rgba(0,0,0,1) 1px 1px 1px 1px inset ;

}


.SezioneStile {

	position: 			 absolute ;
	font-size:			 27px     ;
	font-family: 		 serif, sans-serif ;
	color: 				 #B5B5B5 ;
	font-weight: 		 500     ;
	transition: 		 color 500ms ease ;
	-moz-transition: 	 color 500ms ease ; 
  	-o-transition: 		 color 500ms ease ; 
  	-webkit-transition:  color 500ms ease ; 
  	z-index: 			 3 ;

}


#Rispolverati {

	top:  1010px ;
	left: 165px  ;

}


#ExtraMetal {

	top:  1560px ;
	left: 165px  ;

}


#Demo {

	top:  2010px ;
	left: 215px  ;

}


#Rispolverati:hover,#ExtraMetal:hover,#Demo:hover {

	color: #551A8B ;

}